@using Microsoft.AspNetCore.Components.Authorization
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons;
@using Microsoft.FluentUI.AspNetCore.Components


@code {
    bool Expanded = true;
    bool EnableCollapsedChildNavigation = true;
}
<div class="top-row ps-1" style="background-color:#f7f7f7">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TechSolutions</a>
    </div>
</div>
<nav>
<FluentStack Orientation="Orientation.Horizontal" Width="100%"  >
    <div>
        <FluentNavMenu @bind-Expanded="@Expanded" Width="250" Collapsible="true" CollapsedChildNavigation="@EnableCollapsedChildNavigation" >
            <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())">Home</FluentNavLink>
         <FluentNavGroup Title="Customer" Tooltip="Item 3 tooltip" Icon="@(new Icons.Regular.Size24.PersonAccounts())">
            <FluentNavLink Icon="@(new Icons.Regular.Size24.LockClosed())" Tooltip="Item 3.1 tooltip" Href="/customer">Profile</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.PersonPasskey())"  Tooltip="Item 3.2 tooltip">Address</FluentNavLink>
            </FluentNavGroup>
                
                <FluentNavGroup Title="Health Data And Tools" Tooltip="Item 3.3 tooltip" Icon="@(new Icons.Regular.Size24.Doctor())">
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.CheckboxPerson())" Href="https://microsoft.com" Tooltip="Checkups">Your Checkups</FluentNavLink>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.PersonInfo())" Href="https://microsoft.com" Tooltip="Results">Your results</FluentNavLink>
                </FluentNavGroup>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.Settings())" Href="https://microsoft.com" Tooltip="Item 6 tooltip"  Style="vertical-align:bottom">Settings</FluentNavLink>
        </FluentNavMenu>
    </div>
</FluentStack>



    </nav>

